<div class="panel">
  <%= form_for @pin, html: { multipart: true } do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

        <ul>
        <% @pin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
		<div class="form-group">
      <%= f.label :shape %>
			<%= f.select :shape, options_for_select(Pin.cigar_shape), {}, class: "form-control" %>
    </div>
    <div class="form-group size-fields">
      <%= f.label :length %>
			<%= f.select :length, options_for_select(Pin.cigar_length), {}, class: "form-control" %>
    </div>
    <div class="form-group size-fields">X</div>
    <div class="form-group size-fields">
      <%= f.label :ring %>
			<%= f.select :ring, options_for_select(Pin.cigar_ring), {}, class: "form-control" %>
    </div>
		<div class="form-group">
      <%= f.label :wrapper %>
			<%= f.select :wrapper, options_for_select(Pin.cigar_wrapper), {}, class: "form-control" %>
    </div>
    <div class="form-group actions">
      <%= f.submit class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>
