<div class="panel">
  <div class="panel-heading">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="panel-body center">
  <%= link_to 'Back', pins_path %>
    <p>
    <%= image_tag @pin.image.url(:medium) %><br>
      <p><%= @pin.description %></p>
      <strong><%= @pin.user.name %></strong>
    </p>
  </div>
  <div class="center">
    <div class="small-2 large-4 columns">
      <% if current_user %>
        Construction: <%= rating_for @pin, "construction" %>
        Burn: <%= rating_for @pin, "burn" %>
        Flavor: <%= rating_for @pin, "flavor" %>
        Overall: <%= rating_for @pin, "overall" %>
      <% end %>
    </div>
    <br>
  </div>

  <div class="panel-footer center">
    <% if @pin.user == current_user %>
      <%= link_to 'Edit', edit_pin_path(@pin), class: "btn btn-primary btn-sm" %><br><br> 
    <% end %>
  </div>
</div>
